.main-holder{
    main{
        // height: 1000px;
    }
}

@media (max-width: 1024px) {
    aside, b{
        display: none;
    }
}

@media (min-width: 1024px) {
    .ham-btn{
        display: none;
    }
    .main-holder{
        display: grid;
        grid-template-columns: 150px 1fr 75px;
        aside{
            // background-color: #DDD;
        }
    }
}
